<div class="page">
    <div class="banner">
        <div class="header-text">{{pantry | async }}</div>
        <div class="sub-header-text">Address 1</div>
        <div class="sub-header-text">Address 2</div>
        <div class="sub-header-text">City, State</div>
        <div class="sub-header-text">Zipcode</div>
    </div>
    <mat-divider></mat-divider>
    <div class="inventory">
        <h1>Inventory</h1>
        <div class="inventory__grid ">
            <mat-card *ngFor="let i of items">
                <mat-card-title>Item: {{i}}</mat-card-title>
                <mat-card-content>
                    <div>Delicious and Nutritious</div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>See More</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>