<mat-toolbar color="primary">
  <button class="menu-btn" mat-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="icon" routerLink="/home"></span>  
  <span routerLink="/home">
    <span class="logo">Cooper Pantry</span>
  </span>

  <span class="fill-horizontal"></span>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
    <ng-container *ngIf="(loggedIn | async) && (isStaff | async)">
      <mat-nav-list>
        <mat-list-item [routerLink]="pantryLink | async" *ngIf="pantryLink | async" (click)="drawer.close()">
          <mat-icon mat-list-icon>storefront</mat-icon>
          Pantry Page
        </mat-list-item>
        <mat-list-item routerLink="/admin/manage-inventory" *ngIf="pantryLink | async" >
          <mat-icon mat-list-icon>storefront</mat-icon>
          Manage Pantry Inventory
        </mat-list-item>
        <mat-list-item routerLink="/admin/manage" (click)="drawer.close()">
          <mat-icon mat-list-icon>settings</mat-icon>
          Pantry Management
        </mat-list-item>
        <mat-list-item routerLink="/admin/communications" (click)="drawer.close()">
          <mat-icon mat-list-icon>sms</mat-icon>
          Communication
        </mat-list-item>
        <mat-list-item routerLink="/admin/outreach" (click)="drawer.close()">
          <mat-icon mat-list-icon>bubble_chart</mat-icon>
          Reports
        </mat-list-item>
        <mat-list-item routerLink="/home" (click)="logout()">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          Logout
        </mat-list-item>
      </mat-nav-list>
    </ng-container>

    <ng-container *ngIf="(loggedIn | async) && !(isStaff | async)">
      <mat-nav-list>
        <mat-list-item routerLink="/pantry-list" (click)="drawer.close()">
          <mat-icon mat-list-icon>storefront</mat-icon>
          Browse Pantries
        </mat-list-item>
        <mat-list-item routerLink="/customer/bot" (click)="drawer.close()">
          <mat-icon mat-list-icon>contact_support</mat-icon>
          Assistant
        </mat-list-item>
        <mat-list-item routerLink="/account/contact-info" (click)="drawer.close()">
          <mat-icon mat-list-icon>settings</mat-icon>
          Settings
        </mat-list-item>
        <mat-list-item routerLink="/home" (click)="logout()">
          <mat-icon mat-list-icon>exit_to_app</mat-icon>
          Logout
        </mat-list-item>
      </mat-nav-list>
    </ng-container>

    <ng-container *ngIf="!(loggedIn | async)">
      <mat-nav-list>
        <mat-list-item routerLink="/login" (click)="drawer.close()">
          <mat-icon mat-list-icon>account_circle</mat-icon>
          Login
        </mat-list-item>
      </mat-nav-list>      
    </ng-container>
  </mat-drawer>
  <mat-drawer-content>
   <ng-container >
      <ng-container *ngTemplateOutlet="normal"></ng-container>
    </ng-container>
  </mat-drawer-content>
</mat-drawer-container>



<ng-template #normal>
  <div style="height: 100%; width: 100%">
    <router-outlet>
    </router-outlet>
  </div>
</ng-template>
