<mat-toolbar color="primary">
  <button class="menu-btn" mat-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="icon"></span>
  <span class="logo">Cooper Pantry</span>
</mat-toolbar>

<!-- <div style="height: 100%; width: 100%;">
  <router-outlet></router-outlet>
</div> -->

<div *ngIf="!(isNbRoute | async)">
  <ng-container *ngTemplateOutlet="normal"></ng-container>
</div>

<div *ngIf="(isNbRoute | async)">
  <ng-container *ngTemplateOutlet="nb"></ng-container>
</div>


<ng-template #normal>
  <router-outlet>
  </router-outlet>
</ng-template>

<ng-template #nb>
  <nb-layout>
    <nb-layout-column>
      <div style="height: 100%; width: 100%;">
        <router-outlet></router-outlet>
      </div>
    </nb-layout-column>
  </nb-layout>
</ng-template>