.logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.icon {
    background: url('../assets/carrot.svg') no-repeat center center / contain;
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
}

.menu-btn {
    margin-right: 0.5rem;
}

mat-toolbar {
    padding-left: 0px;
}

::ng-deep nb-layout {
    height: 100% !important;
    width: 100% !important;
}
::ng-deep .layout {
    min-height: 0px !important;
    background-color: inherit !important;

}

::ng-deep nb-layout-column {
    padding: 0px !important;
}

::ng-deep .scrollable-container,
::ng-deep .content,
::ng-deep .columns,
::ng-deep .layout,
::ng-deep nb-layout-column {
    height: inherit !important;
    width: inherit !important;
}