<mat-toolbar color="primary">
  <button class="menu-btn" mat-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span class="icon"></span>
  <span class="logo">Cooper Pantry</span>
  <span class="fill-horizontal"></span>
  <button mat-flat-button routerLink="/login" *ngIf="!(loggedIn | async)" color="primary">Login</button>
  <button mat-flat-button *ngIf="loggedIn | async" color="primary">Account</button>
</mat-toolbar>

<ng-container *ngIf="!(isNbRoute | async)">
  <ng-container *ngTemplateOutlet="normal"></ng-container>
</ng-container>

<ng-container *ngIf="(isNbRoute | async)">
  <ng-container *ngTemplateOutlet="nb"></ng-container>
</ng-container>


<ng-template #normal>
  <div style="height: 100%; width: 100%">
    <router-outlet>
    </router-outlet>
  </div>
</ng-template>

<ng-template #nb>
  <nb-layout>
    <nb-layout-column>
      <div style="height: 100%; width: 100%;">
        <router-outlet></router-outlet>
      </div>
    </nb-layout-column>
  </nb-layout>
</ng-template>