.logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.icon {
    background: url('../assets/carrot.svg') no-repeat center center / contain;
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
}

.menu-btn {
    margin-right: 0.5rem;
}

mat-toolbar {
    padding-left: 0px;
}