.logo {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}

.icon {
    background: url('../assets/carrot.svg') no-repeat center center / contain;
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
}

.menu-btn {
    margin-right: 0.5rem;
}

.fill-horizontal {
    flex: 1 1 auto;
}

mat-drawer {
    width: 15%;
}

mat-drawer-container {
    height: 100%;
}

mat-drawer-content {
    background-color: white;
}

@media screen and (max-width: 600px) {
    mat-drawer {
        width: 100%;
    }    
}

mat-toolbar {
    padding-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

::ng-deep nb-layout {
    height: 100% !important;
    width: 100% !important;
}
::ng-deep .layout {
    min-height: 0px !important;
    background-color: inherit !important;

}

::ng-deep nb-layout-column {
    padding: 0px !important;
}

::ng-deep .scrollable-container,
::ng-deep .content,
::ng-deep .columns,
::ng-deep .layout,
::ng-deep nb-layout-column {
    height: inherit !important;
    width: inherit !important;
}

