<div class="page">
    <div>
        <div class="banner">
            <h1 class="header-text">Connect with your local pantry, easily</h1>
        </div>
        <div class="center">
            <h1>Get Started Now</h1>
            <mat-form-field>
                <input matInput placeholder="Zip Code">
            </mat-form-field>
            <button mat-flat-button color="primary">Search Pantries</button>
        </div>

        <mat-divider></mat-divider>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>STUFF</h1>
        <h1>Done</h1>
    </div>


</div>
